apiVersion: apps/v1
kind: Deployment
metadata:
  name: diplom-app
  namespace: diplom-app
  labels:
    app: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: diplom-test-app
        # Тег будет заменен через kubectl set image
        image: mspitsyn/devops-diplom-app:v1.0.12
        imagePullPolicy: Always  # Ключевая настройка!
        resources:
          requests:
            cpu: "50m"     # 0.05 CPU (50 милли CPU)
            memory: "50Mi" # 50 MB
          limits:
            cpu: "100m"    # 0.1 CPU
            memory: "100Mi" # 100 MB
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: diplom-app-service
  namespace: diplom-app
spec:
  type: NodePort
  selector:
    app: web-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30051