name: diplom-app

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

env:
  IMAGE_NAME: mspitsyn/devops-diplom-app
  NAMESPACE: diplom-app


jobs:
  build-and-push:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Generate version tag
        id: version
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          DATE=$(date +'%Y%m%d')
          VERSION="${DATE}-${SHORT_SHA}"
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          IMAGE_TAG=${IMAGE_NAME}:${VERSION}
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${IMAGE_TAG}

  deploy:
    needs: build-and-push
    name: Deploy to Kubernetes
    if: startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Kubernetes
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.31.0'    
      - name: Create kubeconfig
        run: |
          mkdir -p $HOME/.kube/
      - name: Authenticate to Kubernetes cluster
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          echo "${KUBECONFIG}" > ~/.kube/config
      - name: Clean up stuck pods
        run: |
          # Удаляем все поды в статусе Pending или Error
          kubectl get pods -n ${{ env.NAMESPACE }} --field-selector=status.phase!=Running -o name | xargs -r kubectl delete -n ${{ env.NAMESPACE }}
      - name: Update deployment with new image
        run: |
          # Сначала уменьшим количество реплик для безопасного обновления
          kubectl scale deployment diplom-app --replicas=1 -n ${{ env.NAMESPACE }}
          
          # Дадим время на остановку лишних подов
          sleep 10
          
          # Обновляем образ
          kubectl set image deployment/diplom-app diplom-test-app=$IMAGE_TAG -n ${{ env.NAMESPACE }}
          
          # Ждем обновления одной реплики
          kubectl rollout status deployment/diplom-app -n ${{ env.NAMESPACE }} --timeout=180s
          
          # Возвращаем нужное количество реплик
          kubectl scale deployment diplom-app --replicas=2 -n ${{ env.NAMESPACE }}
      
      - name: Wait for all pods to be ready
        run: |
          kubectl rollout status deployment/diplom-app -n ${{ env.NAMESPACE }} --timeout=300s
      
      - name: Verify deployment
        run: |
          echo "=== Current pods ==="
          kubectl get pods -n ${{ env.NAMESPACE }} -l app=web-app -o wide